*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  
#generator{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ), url(images/brightday.jpg) top center no-repeat;
    background-size:cover;

   
}

.main-container
{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.185);
    margin: 10px;

}
.fa-quote-left, .fa-quote-right {
    font-size: 25px;
    color: rgb(10, 82, 78);
}
.quote
{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(217, 232, 243);
}
.author 
{
    
    margin:10px;
    text-align: right;
    font-size: 20px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 205, 211);
}
hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid rgb(139, 133, 133);
    background-color: rgb(131, 125, 125);
}
.quote-generator-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}
.twitter
{
    border:1px solid rgb(102, 179, 255);
    border-radius: 4px;
    background-color: rgb(102, 179, 255);
    color: white;
    text-align: center;
    font-size: 1.8em;
	width: 70px;
	height: 38px;
	line-height: 40px;
}
.next
{
    font-size:13px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: rgb(214, 213, 213);
    background-image: linear-gradient(to right bottom, rgb(13, 119, 87), #17b4aca8);
}
.main-container:hover
{
    box-shadow: 0 10px 10px rgb(16, 189, 145);
}